*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
     
}
header{
    height: 500px;

}
header nav{
    height: 100px;
    box-shadow: none;
}
nav .brand-logo{
    height: 100px;
}
nav .brand-logo img{
    width: 275px;
    height: 70px;
    margin-top: 15px;
}
header nav ul{
    height: 100px;
}
header ul a{
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
header ul a:hover{
    background-color: rgb(109, 103, 103);
}
.header-bar{
    margin-top: 35px;
    height: 7px;
    background-color: red;
}
.header-main-pic{
    width: 100%;
    height: 400px;
    background-image: url('/images/programacion4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-page{
    margin-top: 20px;
}
.asignature-title{
    font-size: 3.8rem;
}
.asignature-description{
    font-size: 1.8rem;
}
.description-pic{
    width: 400px;
    margin-top: 40px;
}
.progress{
    width: 100px;
    background-color: red;
}
.panel{
    border-radius: 20px;
}
.panel h2{
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.panel p{
    font-size: 1.3rem;
}
.panel img{
    margin-top: 20px;
}
.contenidos{
    padding: 40px;
    border-radius: 40px;
}
.contenidos li{
    color: black;
    font-size: 1.4rem;
}
.contenidos-content p{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 100;
}
.contenidos-content img{
    margin-top: 35px;
}
.contenidos-title{
    font-weight: 500;
} 
.info p{
    font-size: 1.6rem;
    color: black;
    font-weight: 400;
}

/*            footer             */
footer{
    margin-top: 50px;
    background: linear-gradient(to right, rgb(15, 15, 15), red);
}
.footer-copyright{
    background: linear-gradient(to right, rgb(26, 25, 25), rgb(0, 0, 0)); 
}
.footer-copyright p{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.footer-info{
    font-size: 1.4rem;
}
.footer-list a{
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.footer-list li{
    margin-top: 10px;
}
.footer-list a:hover{
    color: black;
}
.footer-list span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    margin-left: 5px;
}
.twitter{
    background-image: url('/images/twitter.png');
}
.instagram{
    background-image: url('/images/instagram.png');
}
.github{
    background-image: url('/images/github.png');
}



/*       presentacion.html                  */


.social-donations{
    margin-top: 40px;
}
.social-media a{
    padding: 25px;
}
.social-media h2{
    margin-bottom: 40px;
}
.contact-form{
    margin-top: 20px;
}
.contact-form label{
    font-size: 1.4rem;
}

.form-text{
    font-size: 1.8rem;
}
.form-button{
    background-color: red;
}
.programer-info li{
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}
.programer-info label{
    color: red;
    font-size: 2rem;
}
.programer-pic img{
    height: 375px;
    width: 300px;
}
.programer-content{
    border-radius: 40px;
}


/*          carrera.html            */   


.profesional-profile{
    font-size: 1.8rem;
}
#aptitudes-title{
    font-size: 1.8rem;
    color: black;
    font-weight: 500;
}
.div-card-reveal p{
    margin-top: 15px;
    font-size: 1.2rem;
}
.card-image img{
    width: 175px;
    height: 150px;
}
.div-egreso{
    background: linear-gradient(to right, red, rgb(14, 13, 13));
    border-radius: 40px;
}
.div-egreso p{
    padding-top: 15px;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 400;
}



